<%- include('partials/header') %>
<main>
  <%- include('partials/nav') %>
  <section class="content">
    <h1 id="skill"><%= title %></h1>
    <figure>
      <img src="assets/calgaryapi.jpg" alt="Calgary Crime API">
      <figcaption><%= description1 %></figcaption>
    </figure>
    <figure>
      <img src="assets/hamburger.jpg" alt="Hamburger Menu">
      <figcaption><%= description2 %></figcaption>
    </figure>
    <figure>
      <img src="assets/data.jpg" alt="Random image">
      <figcaption><%= description3 %></figcaption>
    </figure>
    <figure>
      <img src="assets/web.jpg" alt="Random image">
      <figcaption><%= description4 %></figcaption>
    </figure>
  </section>
</main>
<%- include('partials/footer') %>